// background colors
$background: rgb(27,29,38);
$contentBackground: rgb(36,39,51);
$contentBackground2: rgb(45,49,62);
$contentBackgroundBlured: rgba(36,39,51,0.7);

// text colors
$textPrimary: rgb(156, 163, 175); 

// breakpoints 
$mobile: 767px;
$tablet: 1024px;
$desktop: 1280px;