@import "/src/scss/variables";

.primary {
    background-color: $contentBackground;
    color: white; 
    padding: 20px;
    border-radius: 10px;
    border: none;

    * {
        color: white; 
        font-size: large;
    }
}