@import "./variables";
@import "./mixin"; 

.character-group {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;

    &-content {
        background-color: $background;
        margin: 20px 0;
        width: 80%;
        border-radius: 10px;
        padding: 0 20px;

        &-title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 0;
            gap: 15px;

            img {
                width: 40px; 
                height: 40px;
            }
        }

        &-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            padding-bottom: 15px;
        }
    }
}

.character-image {
    max-width: 85px;
    max-height: 85px;
    border-radius: 100px;
    border: 1px solid rgba(128, 128, 128, 0.234);
    background-color: $background;
}

.elemental-icon {
    max-width: 20px;
    max-height: 20px;
    border-radius: 100px;
    position: absolute;
    top: 0; 
    right: 0;
    background-color: rgb(22, 21, 21);
    padding: 2px;
}

.text-character {
    color: $textPrimary;
    text-align: center;
}
.text-character-title {
    margin: 15px;
    color: white; 
}
.title {
    font-size: xx-large;
}

// detail 
.character-skill {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    width: 90%;

    @include maxWidth($mobile) {
        width: 100%;
    }

    &-list {
        display: flex;
        gap: 15px;
        @include maxWidth($mobile) {
            flex-direction: column;
        }
    }

    &-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;

        &-level {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        &-attribute {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            flex-direction: column;
            list-style: none;

            &-label {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 15px;
                flex-direction: row;

                &:nth-child(even) {
                    background-color: $contentBackground2;
                }

                .left {
                    text-align: left;
                }
                .right {
                    text-align: right;
                }
            }
        }
    }

}

.character-constellation {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    width: 90%;

    @include maxWidth($mobile) {
        width: 100%;
    }

    &-list {
        display: flex;
        
        flex-wrap: wrap;
        gap: 15px;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        div {
            flex-basis: 25%;
        }

    }

    .constellation-icon {
        width: 40px;
        height: 40px;
        margin-top: -15px;
        margin-bottom: 15px;
    }
}

.toggle-icon {
    cursor: pointer;
}

.level-icon {
    border: none;
    background: none; 
    cursor: pointer;
}

.ascension-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 15px;

    &-label {
        width: 120px;
        @include maxWidth($mobile) {
            width: 100px;
            font-size: smaller;
        }
    }

    &:nth-child(even) {
        background-color: $background;
    }

    &-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        gap: 20px;
        column-gap: 30px;

        &.total {
            flex-wrap: wrap;
        }

        &-detail {
            display: flex;
            align-items: center; 
            max-width: 250px;
            gap: 10px;

            @include maxWidth($mobile) {
                max-width: 100px;
                background-color: red;
                gap: 0;
            }

            &-name {

                @include maxWidth($mobile) {
                    display: none;
                }
            }
        }
    }
}

.item-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .item-image {
        width: 85px; 
        height: 85px;

        @include maxWidth($mobile) {
            width: 50px; 
            height: 50px;
        }
    }

    .item-count {
        position: absolute;
        bottom: 0;
        background-color: $contentBackgroundBlured;
        color: white;
        width: 100%;
        text-align: center;

        @include maxWidth($mobile) {
            font-size: 10px;
        }
    }
}

.gold-card {
    background-image: linear-gradient(0deg, rgb(100,75,80), rgb(111,89,84), rgb(140,99,88), rgb(189,146,90), rgb(216,168,98));
}

.purple-card {
    background-image: linear-gradient(0deg, rgb(82,97,129), rgb(96,89,132), rgb(114,98,138), rgb(159,127,182), rgb(171,134,193));
}

.green-card {
    background-image: linear-gradient(0deg, rgb(82,86,115), rgb(82,90,119), rgb(84,106,134), rgb(89,130,154), rgb(94,154,175));
}

.blue-card {
    background-image: linear-gradient(0deg, rgb(77,89,93), rgb(78,92,96), rgb(81,112,105), rgb(95,134,111), rgb(105,145,115));
}

.gray-card {
    background-image: linear-gradient(0deg, rgb(80,88,98), rgb(87,92,103), rgb(100,106,118), rgb(122,123,143), rgb(130,140,150));
}
