@import "/src/scss/variables"; 

// buttons

.button-primary {
    background-color: $contentBackground;
    color: white; 
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: large;
    cursor: pointer;
}

// inputs


// textareas
.login-field {
    background-color: $contentBackgroundBlured;
    padding: 10px;
    color: white;
}
